* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
    overflow: hidden;
}
.container{
    height: 400px;
    background-color: #efeff4;
}
.item{
    color: #ffffff;
    background-color: #000000;
}
.item img{
    width:100%;
    height:100%;
}
